.home-games {
  display: flex;
}


.game-card {
  max-width: 250px;
  max-height: 300px;
  border-radius: 4px;
  background-color: #1b1b1b;
  cursor: pointer;
  transition: all 0.2s;
}

.game-card:hover {
  opacity: 0.6;
}

.game-card .img-wrapper {
  width: auto;
}

.game-card img {
  width: 100%;
  height: 200px;
}

.game-card .hover-info {
  padding: 1em;
}


.hover-info > h3,
p {
  color: white;
}

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

/* applies to all elements */
* {
  text-align: center;
  box-sizing: border-box;
  font-family: Roboto;
}
/* body styles */
body {
  background: linear-gradient(#16222a, #3a6073);
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 1000% 1000%;
  position: relative;
  overflow-x: hidden;
  margin: 0;
}

/* NavBar styles */
header {
  background-color: #000000;
  width: 100%;
}
a {
  text-decoration: none;
  font-weight: bold;
  font-size: 25px;
  color: white;
}
button {
  font-size: 20px;
  font-weight: bold;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.right-top-nav {
  margin-top: 1%;
  display: flex;
  width: auto;
}
.right-top-nav button {
  width: 5em;
  height: 2em;
  margin: 0 5px;
  border-radius: 12.5px;
}
.right-top-nav a {
  width: 5em;
  height: 2em;
  margin: 0 5px;
  border-radius: 12.5px;
  padding: 0.5em;
}

.sign-but {
  background-color: #f37971;
  color: white;
}
.sign-but:hover {
  background-color: white;
  color: #f37971;
}

.log-but {
  background-color: #01c3cc;
  color: white;
}
.log-but:hover {
  background-color: white;
  color: #01c3cc;
}

.bottom-nav {
  width: 100%;
  margin: auto;
  padding-bottom: 1em;
}
.right-bottom-nav {
  width: 100%;
  margin-top: -6em;
  margin-bottom: 2em;
}
.right-bottom-nav a {
  margin: 4%;
  padding: 0.5em;
  border-radius: 12.5px;
}
.right-bottom-nav a:hover {
  background-color: #222222;
}
.search-form {
  width: 40%;
  height: auto;
  margin: auto;
}
.search-button {
  width: 5em;
  height: 2.5em;
  margin: 0 10px;
  background-color: #01c3cc;
  color: white;
  border-radius: 30px;
}
.search-button:hover {
  background-color: white;
  color: #01c3cc;
}

.search-input {
  font-size: 20px;
  height: 2.5em;
  width: 80%;
  border-radius: 30px;
}
.search-input:focus {
  border: 4px #01c3cc solid;
}


/* homepage styling */
.home-cont {
  margin-top: 3em;
}

.home-games {
  display: flex;
}

.games-cont{
  display: grid;
  grid-template: auto / repeat(2, 1fr);
}

.recent-games, .popular-games {
  padding: 1em 2em;
  border: 4px solid silver;
  border-radius: 20px;
}
.game-card {
  max-width: 250px;
  max-height: 300px;
  border-top-left-radius : 30px;
  border-bottom-right-radius : 30px;
  background-color: #1b1b1b;
  cursor: pointer;
  transition: all 0.2s;
  margin: 2em;
  overflow-x: auto;
  overflow-y: auto;
}
.game-card:hover {
  opacity: 0.6;
}

.game-card img {
  width: 100%;
  border-top-left-radius : 30px;
}

.hover-info > h3,
p {
  color: white;
  margin: 0em;
  font-weight: bold;
}
.hover-info > h3 {
  margin-top: -0.5em;
}
.add-button, .add-cart {
  background-color: #01c3cc;
  color: white;
  width: auto;
  height: 1.7em;
  border-radius: 12.5px;
}
.add-button:hover, .add-cart:hover {
  background-color: white;
  color: #01c3cc;
}

/* games page styling */
.games {
  width: 80%;
  display: grid;
  grid-template: auto / repeat(5, 1fr);
  margin:  auto
}

/* games page styling */
.search-results {
  width: 80%;
  display: grid;
  grid-template: auto / repeat(5, 1fr);
  margin:  auto;
}

/* about page styling */
.about-h1 {
  color: white;
  font-family: 'Permanent Marker', cursive;
  margin-top: 0.5em
}
.about-us-container {
  margin-top: -3em;
  display: flex;
  justify-content: space-around;
}
.about-card {
  background-color: darkgray;
  border-radius: 10px;
  padding-bottom: 20px;
  margin: 100px;
}
.card-margin {
  margin-bottom: 50px;
}

.about-card > h2 {
  margin-top: 0.2em;
  text-align: center;
  font-family: 'Permanent Marker', cursive;
}

.image-div > img {
  height: 30vh;
}
a:link {
  text-decoration: none;
  color: white;
}
a:visited {
  color: white;
}
.about-card a {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  display: block;
  margin: -0.3em auto;
}
.links {
  text-align: center;
}
.Team {
  display: flex;
  width: 50%;
  height: 550px;
  margin: auto;
  margin-top: -4em;
  justify-content: center;
}

/* gameDetails styling */

.top-half {
  display: flex;
  width: 90%;
  margin: 2em auto;
  border: 4px solid silver;
  border-radius: 20px;
  padding: 2em
}
.top-half div {
  width:50%;
  margin: auto 1em;
  border-radius: 20px
}
  .top-half div > img{
    width: 100%;
    border-radius: 20px
  }
.right-side {
  width: 50%;
  margin: auto 1em;
  padding: auto 1em;
  border-radius: 20px;
}
.right-side * {
  margin: 0.5em auto;
  font-size: 18px;
}
.right-side h1{
  font-size: 40px;
  color: #f37971;
  font-weight: bold;
}

.show-review-form {
  background-color: #f37971;
  color: white;
  width: auto;
  height: 1.7em;
  border-radius: 12.5px;
  display: inline;
}
.show-review-form:hover{
  background-color: white;
  color:#f37971;
}

/* review section styling */
.reviews-cont {
  width: 70%;
  margin: auto;
}

.review-card {
  border: 1px solid white;
  border-radius: 30px;
  background-color: rgb(65, 63, 63);
  height: 40px;
  padding: 2em auto;
  margin: 0.6em auto;

}

.review-card p, h4 {
  display: inline-block;
  margin: auto 0.4em;
  font-size: 22px;
  font-weight: bold;
}

.review-card p{
  color: #01c3cc;
}
.review-card h4{
  color: white;
}

.delete-review {
  background-color: #f37971;
  color: white;
  width: auto;
  height: 1.7em;
  border-radius: 12.5px;
  margin: auto 1em;
  display: inline;
}
.delete-review:hover {
  background-color: white;
  color:#f37971
}

.review-h2 {
  font-size: 40px;
  color: #01c3cc;
  font-weight: bold;
  margin-bottom: 0.5em;
}





.home-games {
  display: inline;
  justify-content: space-around;
}
.home-games h1 {
  color: rgb(245, 240, 240);
  font-family: 'Permanent Marker', cursive;
}

#image {
  border-radius: 10px;
}

.item-card {
  max-width: 280px;
  max-height: 400px;
  border-radius: 4px;
  background-color: #1b1b1b;
  cursor: pointer;
  transition: all 0.2s;
  margin: 1em;
}
.item-card:hover {
  opacity: 0.6;
}

.item-card .img-wrapper {
  width: auto;
}

.item-card img {
  width: 100%;
  height: 200px;
}

.item-card .hover-info {
  padding: 1em;
}

.hover-info > h3,
p {
  color: white;
}

.cart-cont {
  max-width: 300px;
}

.cart-text {
  color: white;
}

.account-page > p {
  font-size: 40px;
  margin: 5px;
}

.account-page > img {
  max-width: 300px;
  max-height: 300px;
}

