/* applies to all elements */
* {
  text-align: center;
  box-sizing: border-box;
  font-family: Roboto;
}
/* body styles */
body {
  background-color: #222222;
  margin: 0;
  height: 100%;
  overflow-x: hidden;
}

/* NavBar styles */
header {
  background-color: #000000;
  width: 100%;
}
a {
  text-decoration: none;
  font-weight: bold;
  font-size: 25px;
  color: white;
}
button {
  font-size: 20px;
  font-weight: bold;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.right-top-nav {
  margin-top: 1%;
  display: flex;
  width: auto;
}
.right-top-nav button {
  width: 5em;
  height: 2em;
  margin: 0 5px;
  border-radius: 12.5px;
}
.right-top-nav a {
  width: 5em;
  height: 2em;
  margin: 0 5px;
  border-radius: 12.5px;
  padding: 0.5em;
}

.sign-but {
  background-color: #f37971;
  color: white;
}
.sign-but:hover {
  background-color: white;
  color: #f37971;
}

.log-but {
  background-color: #01c3cc;
  color: white;
}
.log-but:hover {
  background-color: white;
  color: #01c3cc;
}

.bottom-nav {
  width: 100%;
  margin: auto;
  padding-bottom: 1em;
}
.right-bottom-nav {
  width: 100%;
  margin-top: -6em;
  margin-bottom: 2em;
}
.right-bottom-nav a {
  margin: 4%;
  padding: 0.5em;
  border-radius: 12.5px;
}
.right-bottom-nav a:hover {
  background-color: #222222;
}
.search-form {
  width: 40%;
  height: auto;
  margin: auto;
}
.search-button {
  width: 5em;
  height: 2.5em;
  margin: 0 10px;
  background-color: #01c3cc;
  color: white;
  border-radius: 30px;
}
.search-button:hover {
  background-color: white;
  color: #01c3cc;
}

.search-input {
  font-size: 20px;
  height: 2.5em;
  width: 80%;
  border-radius: 30px;
}
.search-input:focus {
  border: 4px #01c3cc solid;
}


/* homepage styling */
.home-cont {
  margin-top: 3em;
}

.home-games {
  display: flex;
}

.popular-games {
  display: grid;
  grid-template: auto / auto;
}

.recent-games {
  display: grid;
  grid-template: auto / repeat(2, 1fr);
}

.game-card {
  max-width: 250px;
  max-height: 300px;
  border-top-left-radius : 30px;
  border-bottom-right-radius : 30px;
  background-color: #1b1b1b;
  cursor: pointer;
  transition: all 0.2s;
  margin: 2em;
}
.game-card:hover {
  opacity: 0.6;
}

.game-card img {
  width: 100%;
  border-top-left-radius : 30px;
}
.img-wrapper {
  
}
.hover-info > h3,
p {
  color: white;
  margin: 0em;
  font-weight: bold;

}
.hover-info > h3 {
  margin-top: -0.5em;
}
.hover-info button {
  background-color: #01c3cc;
  color: white;
  width: auto;
  height: 1.7em;
  border-radius: 12.5px;
}
.hover-info button:hover {
  background-color: white;
  color: #01c3cc;
}

/* games page styling */
.games {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}

/* games page styling */
.search-results {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}





